body {
    margin: 0 auto;
    font: 14px/1.3 Arial, Helvetica, sans-serif;
    color: #3c464b;
    background: #ebebeb url("../images/bg-wrapper-01.png")no-repeat;
}
img {border-style:none;}
a {
    text-decoration: none;
    color:#d70a0a;
}
a:hover {text-decoration:underline;}
input, textarea, select {
    font: 14px/1.3 Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #5d5d5d;
    padding: 0;
    margin: 0;
}
form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
*:focus {outline: none;}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p {margin: 0;}
table {
    border-collapse: collapse;
    border: none;
}
td, th {padding: 0;}
.left {float: left;}
.right {float: right;}
/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {display: block;}

/* Start Wrapper */




#wrapper{
    width: 1056px;
    margin: 0 auto;
}

#wrapper-2{
    width: 1056px;
    margin: 0 auto;
    padding: 0 11px;

    background-image:url("../images/bg-wrapper-02.png") ,url("../images/bg-wrapper-03-repeat.png");
    background-position: right top,right 798px;
    background-repeat: no-repeat, repeat-y;
}
#wrapper-3 {
    background-color: #ffffff;
    width: 996px;
    margin: 0 auto;
    padding: 0 25px 0 32px;
}
/* Start Header*/
#header{
    width: 100%;
    position: relative;
    height: 150px;
}
h1 #search .social{
    vertical-align:bottom;
}
h1{
    position: absolute;
    width: 187px;
    height: 64px;
    float: left;
    color: #ffffff;
    background: url("../images/logo.png");
    bottom: 0;
    margin-bottom: 55px;
}
.logo a {
    text-decoration: none;
    display: block;
    width: 187px;
    height: 64px;
}
.logo{
    text-indent: -9999px;
}
#search{
    bottom: 0;
    position: absolute;
    left: 50%;
    margin-left: -224px;
    margin-bottom: 55px;
    }
.social{
    float: right;
    bottom: 0;
    margin-bottom: 55px;

}
#search input{
    display: inline-block;
    width: 320px;
    height: 35px;
}
#search p{
    font-size: 19px;
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 35px;
    background: #00aedb;
    font-weight: bold;
    padding-top: 6px;
}
#search a{
    color: #ffffff;
    text-decoration: none;
}
#header p{
    color: #ffffff;
    font-family: "Helvetica lt condensed", sans-serif;
}
.social{
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;

}
.social li{
    display: inline-block;
    width: 38px;
    height: 36px;
    border-radius: 5px;
}
.social li a{
    width: 100%;
    height: 100%;
}
.rss{
    background: #f78f1d;
    width: 38px;
    height: 36px;
    border-radius: 5px ;
}
.facebook{
    background: #5261ac;
    width: 38px;
    height: 36px;
    border-radius: 5px ;
}
.twitter{
    background: #00aedb;
    width: 38px;
    height: 36px;
    border-radius: 5px ;
}
#nav{
    width: 100%;
    height: 35px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}
#nav ul li{
    display: inline-block;
    height: 36px;
    margin: 0;

}
.home{
    background: #00aedb;
    width: 88px;
}
.cinema{
    background: #8cc63f;
    width: 100px;
}
.magazine{
    background: #5261ac;
    width: 108px;
}
.author{
    background: #00aedb;
    width: 170px;
}
.top-menu{
    background: #f78f1d;
    width: 105px;
}
.archives{
    background: #ff0000;
    width: 115px;
}
.contact{
    background: #898989;
    width: 310px;
}
#nav ul li a{
    color: #ffffff;
    font-family: "Helvetica LT Condensed", sans-serif;
    font-size: 17px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 7px 0;
    text-align: center;
}
#nav ul .contact a{
    text-align: left;
    padding-left: 20px;
}
/* Finish Header*/
/* Start Main*/
#main{
    width: 1000px;
    background: #ffffff;
}
h2{
    color: #00aedb;
    font-family: "Helvetica LT Condensed", sans-serif;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}
.column{
    width: 325px;
    display: inline-block;
}
.column img+p{
    display: table-cell;
    width: 326px;
    height: 36px;
    background: #00aedb;
    vertical-align: middle;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
    font-size: 19px;
    color: #ffffff;
}
.column img+p:before {
    content: " ";
    width: 8px;
    height: 14px;
    background: url("../images/arrow.png") 0 0 no-repeat;
    position: absolute;
    margin: 4px 0 0 -16px;
}
.column :last-child{
    color: #6a6666;
    font-size: 15px;
    text-align: left;
    font-family: "Helvetica LT Condensed", sans-serif;
    font-weight: bold;
}
#travel{
    background: #f78f1d;
}
#television{
    background: #ec098d;
}
#arrow-left{
    float: left;
    position: absolute;
    margin: 216px 0 0 -25px;
}
#arrow-right{
    float: right;
    position: absolute;
    margin: 215px 0 0 8px;
}
/* Start Content*/
#content{
    width: 652px;
    display: inline-block;
}
.date-box{
    width: 68px;
    height: 73px;
    float: left;
    margin: 0 0 0 -90px;
}
.date{
    width: 68px;
    height: 64px;
    background: #f78f1d;
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica LT Condensed", sans-serif;
    display: block;
    text-align: center;
    vertical-align: middle;
}
.month{
    width: 62px;
    height: 27px;
    background: #00aedb;
    font-size: 19px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica LT Condensed", sans-serif;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-left: 6px;
}
h3{
    font-size: 35px;
    font-family: "Helvetica LT Std", sans-serif;
    color: #000000;
    font-weight: bold;
    margin: 20px 0;
}
.gallery{
    width: 651px;
    height: 564px;
    background: url("../images/bg-gallery.png");
    margin: 20px 0;
}
.gallery img{
    display: inline-block;
    margin: 12px -5px 0 13px;
}
#content>p{
    font-family: "HelveticaNeueLTStd-LtCn", sans-serif;
    font-size: 14px;
    color: #494949;
    text-align: justify;
}
.category{
    font-size: 15px;
    float: left;
    color: #6a6666
}
.comments{
    font-size: 15px;
    color: #6a6666;
    margin-left: 150px;
    background: url("../images/bg-comments.png")0 0 no-repeat;
    padding-left: 26px;
    margin-bottom: 40px;
}
.comments a{
    color: #6a6666;
    text-decoration: none;
}
.more a{
    font-size: 15px;
    float: right;
    color: #6a6666;
    text-decoration: none;
}
.older-posts a{
    text-decoration: none;
    color: #6a6666;
}
.older-posts a:hover{
    text-decoration: none;
    color: #00aedb;
}
.older-posts{
    margin-bottom: 40px;
}
/* Finish Content */
/* Start Sidebar*/
aside{
    width: 326px;
    float: right;
    display: inline-block;

}
.top-stories{
    background: url("../images/top-stories.png") no-repeat;
    color: #ffffff;
    font-family: "Helvetica LT Condensed", sans-serif;
    font-size: 19px;
    font-weight: bold;
    padding-left: 5px;
    margin-top: 20px;
}
.topic-list{

    width: 100%;
    height: 35px;
    margin:5px 0 ;
}
.topic-list li{
    display: inline-block;
    height: 36px;
    margin: 0;
}
.topic-list li a {
    color: #ffffff;
    font-family: "Helvetica LT Condensed", sans-serif;
    font-size: 17px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 7px 0;
    text-align: center;
}
.pink{
    background: #ec098d;
    width: 100px;
}
.orange{
    background: #f78f1d;
    width: 97px;
}
.orange {
    position: relative;
    background: #f78f1d;
}
.orange:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #f78f1d;
    border-width: 10px;
    margin-left: -10px;
}
.blue{
    background: #00aedb;
    width: 129px;
}
.box-news-01 img{
    float: left;
    margin: 5px 15px 15px 0;
}
.box-news-01 p{
    font-family: "HelveticaNeueLTStd-LtCn", sans-serif;
    font-size: 13px;
    color: #494949;
    text-align: justify;
    margin: 15px 0;
}
.box-news-01 p a {
    font-family: "HelveticaNeueLTStd-LtCn", sans-serif;
    font-size: 15px;
    color: #00aedb;
    text-align: justify;
    font-weight: bold;
    margin: 15px 0 0 0;
    text-decoration: none;
}
hr{
    width: 326px;
}

#like-list img{
    float: left;
    margin-right: 15px;
}

#like-list div p{
    font-size: 13px;
    color: #494949;
    font-family: "Helvetica LT Std", sans-serif;
    margin: 21px 0  ;
}
#like-list div p a {
    color: #00aedb;
    text-decoration: none;

}
#archives p{
    font-size: 13px;
    color: #494949;
    font-family: "Helvetica LT Std", sans-serif;
    margin-left: 20px;
}
#archives p:before {
    content: " ";
    width: 8px;
    height: 14px;
    background: url("../images/archives-arrow.png") 0 0 no-repeat;
    position: absolute;
    margin: 10px 0 0 -16px;
}
#archives hr{
    width: 305px;
    margin-left: 20px;
}
h5{
    height: 36px;
    background: #5261ac;
    color: #fff;
    padding-left: 15px;
    font-family: "Helvetica LT Std", sans-serif;
    font-size: 17px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 326px;
}
#archives h5+p{
    margin-top: 20px;
}
#archives{
    margin-bottom: 20px;
}
#tas-cloud p{
    display: inline-block;
}
#tas-cloud p a{
    text-decoration: none;
    font-size: 17px;
    color:#5261ac;
    font-weight: bold;
}
#tas-cloud p a:hover{
    color: #01061d;
    font-size: 15px;
}

/* Finish Sidebar*/

/* Finish Main*/



/* Start Footer*/
#footer{
    background: url("../images/bg-footer-top.png") 0 0 no-repeat,#ebebeb;
    margin-left: 13px;
    margin-right: -10px;
}
#footer p{
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
}
/* Finish Footer*/

/* Finish Wrapper*/


